@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
:root {
  --background-color:Radial-Gradient:hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
  --scissors-color: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
  --Paper-color: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
  --Rock-color: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
  --dark-text:hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);
  --font: font-family: 'Barlow Semi Condensed', sans-serif;
 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  font-family: "Barlow", sans-serif;
  overflow: hidden;
 max-height: 100vh;
   background: radial-gradient(134.34% 134.34% at 50% 0%,
    #1F3757 0%,
    #131537 100%);
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    
    
}
.header {
  width: 75%;
  height: 150px;
  border-radius: 15px;
  border: 3px solid var(--Header-Outline);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  
}

.title {
  padding-left: 30px;
}
.score {
  width: 150px;
  height: 114px;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score h1 {
  color: var(--dark-text);
  font-size: 60px;
  
}

.score p {
  color: var(--Score-Text);
  font-size: 16px;
  
  font-weight: 600;
  
  letter-spacing: 1.7px;
  
}
.hands {  
  background-image: url(images/triangle.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 476px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.hands div img {
  height: 140px;
  width: 170px;
}
.scissor {
  margin-left: 20px;
}
.paper {
  margin-right: 20px;
}
.hands .hand {
  transition: all 0.25s;
}
.hands img {
  cursor: pointer;
}
.hands .hand:hover {
  transform: translate3d(0px, -8px, 0px);
}
.result {
  width: 75%;
  display: none;
  margin-top: 50px;
}
.result img {
  width: 270px;
  height: 270px;
}
.result > div {
  flex: 1;
}
.result h1 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.result .handImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.result .computerImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.referee {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.referee h1 {
  font-size: 2.8rem;
  color: white;
}
.newGameBtn {
  background-color: azure;
  padding: 12px 35px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--dark-text);
  transition: all 0.25s;
}
.newGameBtn:hover{
  transform: translate3d(0px, -2px, 0px);
  color: red;
}
.rules {
 position: absolute;
 right: 0px;
bottom: -10px;
padding: 10px 26px;
 margin: 30px 20px;
border: 0.1rem solid var(--Header-Outline);
border-radius: 6px;
color: white;
cursor: pointer;
}
.rulesImg {
display:none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 350px;
padding: 30px;
background-color: aliceblue;
justify-items: center;
border-radius: 20px;

}
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-text);
  margin-bottom: 20px;
}
.Nav img {
  width: 13px;
  height: 18px;
  cursor: pointer;
}

@media (max-width:768px) {
  .game {
    max-height: 100vh;
  }
  .header {
    margin-top: 10px;
  }
  .result {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
  .referee {
    order: 3;
  }
  .result img {
    width: 120px;
    height: 120px;
  }
  .rules {
    padding: 10px 20px;
  }
  .newGameBtn {
    
    padding: 12px 22px;
   
   
  }
}